.geral {
    background-color: #000000;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
  }
  
  .container {
    text-align: center; /* Centraliza o texto abaixo da imagem */
  }
  
  .imagem_perfil {
    width: 190px; /* Tamanho padrão menor para telas pequenas */
    height: auto; 
    display: block;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    margin-top: 60px; 
    max-width: 100%;
    border-radius: 50%; 
  }
  
  
  /* Estilos para telas maiores que 768px */
  @media (min-width: 768px) {
    .imagem_perfil {
      width: 160px; /* Aumenta o tamanho da imagem em telas maiores */
      margin-top: 40px; 
    }
  }
  